<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center> 

_____

<a id='home'></a>

# Appending

<a target="_blank" href="https://colab.research.google.com/github/CienciaDeDatosEspacial/code_and_data/blob/main/Appending.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

<a id='appending'></a>

As the name implies, this process binds DFs into one, that is, one or more DFs will be put below or on top of another DF. Appending can be done when you fulfill these requisites:
1. All the DFs  share the same column names.
2. All the DFs  columns are in the same location.

Note that it is better if the columns share the same data types. But you can solve it during the formatting process.


Let's visit this website: https://fundforpeace.org/what-we-do/country-risk-and-fragility-data/

There, you will find several excel files with the _Fragile States Index_ per year. I have the files from 2013 to 2021 in a GitHub repo:

![](fragilityGit.png)

Let's read every file. For that, we will use a link to each. Let's do it step by step:

In [9]:
# link to repo - common to all files
dataRepo='https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/'

In [10]:
# creating file names into a list:
years=range(2013,2022)
fileNames=['fsi-'+str(year)+'.xlsx' for year in years]
# list of file names
fileNames

['fsi-2013.xlsx',
 'fsi-2014.xlsx',
 'fsi-2015.xlsx',
 'fsi-2016.xlsx',
 'fsi-2017.xlsx',
 'fsi-2018.xlsx',
 'fsi-2019.xlsx',
 'fsi-2020.xlsx',
 'fsi-2021.xlsx']

In [11]:
# creating the url to each file:
alltheLinks=[dataRepo+fn for fn in fileNames]
alltheLinks

['https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2013.xlsx',
 'https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2014.xlsx',
 'https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2015.xlsx',
 'https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2016.xlsx',
 'https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2017.xlsx',
 'https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2018.xlsx',
 'https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2019.xlsx',
 'https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2020.xlsx',
 'https://github.com/CienciaDeDatosEspacial/dataSets/raw/main/fragility/fsi-2021.xlsx']

We will save each data frame in a list **allDFs**. We will use pandas, but we need **openpyxl** and **xlrd** (for Excel) before doing this operation:

In [15]:
# creating list of DFs
import pandas as pd

allDFs=[pd.read_excel(link) for link in alltheLinks]

In [23]:
allDFs[0]

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention
0,Somalia,2013-01-01,1st,113.9,9.7,10.0,9.3,9.4,8.4,8.9,9.5,9.8,10.0,9.5,10.0,9.4
1,Congo Democratic Republic,2013-01-01,2nd,111.9,10.0,9.5,9.4,8.5,8.8,7.1,9.6,9.5,9.8,10.0,10.0,9.7
2,Sudan,2013-01-01,3rd,111.0,9.8,10.0,10.0,7.8,8.5,8.4,9.6,8.8,9.3,8.8,10.0,10.0
3,South Sudan,2013-01-01,4th,110.6,9.6,9.8,10.0,8.6,8.9,6.5,9.1,9.8,9.3,8.9,10.0,10.0
4,Chad,2013-01-01,5th,109.0,9.4,9.5,8.8,8.0,8.9,8.0,9.7,9.9,9.8,9.5,9.7,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,Denmark,2013-01-01,174th,21.9,1.5,1.4,3.4,1.9,1.6,1.9,1.0,1.4,1.7,2.5,1.6,2.0
174,Norway,2013-01-01,175th,21.5,2.7,1.1,3.6,1.9,1.5,1.6,0.5,1.4,1.9,2.0,1.9,1.3
175,Switzerland,2013-01-01,175th,21.5,1.4,1.0,3.5,2.3,2.3,2.1,0.8,1.4,1.7,2.1,1.5,1.4
176,Sweden,2013-01-01,177th,19.7,2.2,1.8,1.0,1.7,1.7,1.7,0.5,1.9,1.3,2.5,2.4,1.0
177,Finland,2013-01-01,178th,18.0,1.0,1.1,1.4,3.2,1.0,2.3,1.0,1.5,1.1,1.9,1.6,1.0

In [24]:
# saving column names
allColumnNames=[]
for df in allDFs:
    allColumnNames.append(set(df.columns))# list of sets!

In [29]:
allColumnNames[6]

{'C1: Security Apparatus',
 'C2: Factionalized Elites',
 'C3: Group Grievance',
 'Change from Previous Year',
 'Country',
 'E1: Economy',
 'E2: Economic Inequality',
 'E3: Human Flight and Brain Drain',
 'P1: State Legitimacy',
 'P2: Public Services',
 'P3: Human Rights',
 'Rank',
 'S1: Demographic Pressures',
 'S2: Refugees and IDPs',
 'Total',
 'X1: External Intervention',
 'Year'}

In [32]:
# checking how many columns per df
[len(cols) for cols in allColumnNames]

[16, 16, 16, 16, 16, 16, 17, 17, 16]

We have an extra column in a couple of years. 
Let's find the common columns:

In [28]:
# details of common columns
commonColumns=set.intersection(*allColumnNames) # expanding list of sets (*)
len(commonColumns),commonColumns

(16,
 {'C1: Security Apparatus',
  'C2: Factionalized Elites',
  'C3: Group Grievance',
  'Country',
  'E1: Economy',
  'E2: Economic Inequality',
  'E3: Human Flight and Brain Drain',
  'P1: State Legitimacy',
  'P2: Public Services',
  'P3: Human Rights',
  'Rank',
  'S1: Demographic Pressures',
  'S2: Refugees and IDPs',
  'Total',
  'X1: External Intervention',
  'Year'})

These are the columns not in the common names:

In [30]:
# all minus the common
set.union(*allColumnNames)-commonColumns

{'Change from Previous Year'}

We could make a list of data frames with only the common columns:

In [33]:
# DFs with the common columns
allDFs_sameNames=[df.loc[:,list(commonColumns)] for df in allDFs]

In [50]:
allDFs_sameNames[7]

,Rank,E1: Economy,C3: Group Grievance,Country,P3: Human Rights,C2: Factionalized Elites,Total,S1: Demographic Pressures,E3: Human Flight and Brain Drain,P2: Public Services,S2: Refugees and IDPs,C1: Security Apparatus,X1: External Intervention,Year,P1: State Legitimacy,E2: Economic Inequality
0,1st,9.400000,9.69887,Yemen,9.950000,10.0,112.438694,9.800000,7.000000,9.500000,9.7,9.700000,10.000000,2020-01-01,9.889823,7.800000
1,2nd,9.100000,8.60000,Somalia,9.000000,10.0,110.888959,9.981087,8.900000,9.100000,9.1,9.811328,9.041286,2020-01-01,8.888107,9.367151
2,3rd,9.500000,9.10000,South Sudan,9.000000,9.7,110.752190,9.450357,6.800000,9.500000,9.7,9.400000,9.457419,2020-01-01,9.944415,9.200000
3,4th,8.686367,10.00000,Syria,10.000000,9.9,110.749697,7.600000,8.413343,9.100000,10.0,9.900000,9.999986,2020-01-01,9.950000,7.200000
4,5th,8.000000,9.70000,Congo Democratic Republic,9.548897,9.8,109.394621,9.800000,6.900000,9.464911,10.0,8.500000,9.400000,2020-01-01,9.660971,8.619842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,174th,2.800000,0.70000,Iceland,0.700000,1.8,17.800000,1.000000,2.200000,0.700000,1.7,1.000000,3.500000,2020-01-01,0.700000,1.000000
174,175th,1.300000,4.00000,Denmark,1.400000,1.4,17.213587,1.300000,1.600000,0.913587,1.7,1.600000,0.500000,2020-01-01,0.600000,0.900000
175,176th,1.600000,3.00000,Switzerland,1.100000,1.0,17.094086,1.241587,1.400000,1.052499,2.8,1.400000,0.500000,2020-01-01,0.500000,1.500000
176,177th,1.691210,3.60000,Norway,0.600000,1.1,16.191210,0.900000,1.000000,1.100000,2.5,1.800000,0.700000,2020-01-01,0.500000,0.700000
177,178th,2.600000,0.90000,Finland,0.500000,1.4,14.626666,0.700000,1.700000,0.626666,1.6,2.800000,0.700000,2020-01-01,0.600000,0.500000

Appending in pandas requires a list of data frames, in these case that is **allDFs_sameNames**. Then we proceed:

In [51]:
# appending
allDFsConcat=pd.concat(allDFs_sameNames)
allDFsConcat.head()

,Rank,E1: Economy,C3: Group Grievance,Country,P3: Human Rights,C2: Factionalized Elites,Total,S1: Demographic Pressures,E3: Human Flight and Brain Drain,P2: Public Services,S2: Refugees and IDPs,C1: Security Apparatus,X1: External Intervention,Year,P1: State Legitimacy,E2: Economic Inequality
0,1st,9.4,9.3,Somalia,10.0,10.0,113.9,9.5,8.9,9.8,10.0,9.7,9.4,2013-01-01 00:00:00,9.5,8.4
1,2nd,8.5,9.4,Congo Democratic Republic,9.8,9.5,111.9,10.0,7.1,9.5,10.0,10.0,9.7,2013-01-01 00:00:00,9.6,8.8
2,3rd,7.8,10.0,Sudan,9.3,10.0,111.0,8.8,8.4,8.8,10.0,9.8,10.0,2013-01-01 00:00:00,9.6,8.5
3,4th,8.6,10.0,South Sudan,9.3,9.8,110.6,8.9,6.5,9.8,10.0,9.6,10.0,2013-01-01 00:00:00,9.1,8.9
4,5th,8.0,8.8,Chad,9.8,9.5,109.0,9.5,8.0,9.9,9.7,9.4,7.9,2013-01-01 00:00:00,9.7,8.9

We could pay attention to the current data types:

In [52]:
allDFsConcat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1603 entries, 0 to 178
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              1603 non-null   object
 1   E1: Economy                       1603 non-null   float64
 2   C3: Group Grievance               1603 non-null   float64
 3   Country                           1603 non-null   object
 4   P3: Human Rights                  1603 non-null   float64
 5   C2: Factionalized Elites          1603 non-null   float64
 6   Total                             1603 non-null   float64
 7   S1: Demographic Pressures         1603 non-null   float64
 8   E3: Human Flight and Brain Drain  1603 non-null   float64
 9   P2: Public Services               1603 non-null   float64
 10  S2: Refugees and IDPs             1603 non-null   float64
 11  C1: Security Apparatus            1603 non-null   float64
 12  X1: External Intervention         1603 non-null   float64
 13  Year                              1603 non-null   object
 14  P1: State Legitimacy              1603 non-null   float64
 15  E2: Economic Inequality           1603 non-null   float64
dtypes: float64(13), object(3)
memory usage: 212.9+ KB

The columns] **Year** was expected to be a numeric type, but we got an _object_ instead. Let's explore that column:

In [53]:
# exploring year column as frequency table
allDFsConcat.Year.value_counts()

Year
2021                   179
2013-01-01 00:00:00    178
2014-01-01 00:00:00    178
2015-01-01 00:00:00    178
2016-01-01 00:00:00    178
2017-01-01 00:00:00    178
2018-01-01 00:00:00    178
2019-01-01 00:00:00    178
2020-01-01 00:00:00    178
Name: count, dtype: int64

Except for the year 2021, the other values are in date-time format. We just need an integer number, then:

In [54]:
# keeping just the year value
yearAsNumber=[]
for y in allDFsConcat.Year:
    try:
        yearAsNumber.append(y.year)# the value from a date-time format
    except:
        yearAsNumber.append(y) # if not a datetime

#verifying
pd.Series(yearAsNumber).value_counts()

2021    179
2013    178
2014    178
2015    178
2016    178
2017    178
2018    178
2019    178
2020    178
Name: count, dtype: int64

You may have notice that the column ordering does not look appropriate. In general you expect that the columns to the left start with identification of the rows rather than some measurements. Let's move 'Country','Year','Total' to the left:

In [55]:
#overwriting the yeat column
allDFsConcat.Year=yearAsNumber

In [56]:
allDFsConcat

,Rank,E1: Economy,C3: Group Grievance,Country,P3: Human Rights,C2: Factionalized Elites,Total,S1: Demographic Pressures,E3: Human Flight and Brain Drain,P2: Public Services,S2: Refugees and IDPs,C1: Security Apparatus,X1: External Intervention,Year,P1: State Legitimacy,E2: Economic Inequality
0,1st,9.4,9.3,Somalia,10.0,10.0,113.9,9.5,8.9,9.8,10.0,9.7,9.4,2013,9.5,8.4
1,2nd,8.5,9.4,Congo Democratic Republic,9.8,9.5,111.9,10.0,7.1,9.5,10.0,10.0,9.7,2013,9.6,8.8
2,3rd,7.8,10.0,Sudan,9.3,10.0,111.0,8.8,8.4,8.8,10.0,9.8,10.0,2013,9.6,8.5
3,4th,8.6,10.0,South Sudan,9.3,9.8,110.6,8.9,6.5,9.8,10.0,9.6,10.0,2013,9.1,8.9
4,5th,8.0,8.8,Chad,9.8,9.5,109.0,9.5,8.0,9.9,9.7,9.4,7.9,2013,9.7,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,175th,1.7,3.7,Denmark,0.9,1.4,18.8,2.3,1.3,1.4,2.2,1.7,0.5,2021,0.5,1.2
175,176th,3.4,2.6,New Zealand,0.5,1.4,18.4,1.4,1.6,1.4,1.6,1.4,0.5,2021,0.5,2.1
176,177th,3.4,0.5,Iceland,0.5,1.8,18.0,1.5,1.9,1.2,1.5,0.7,3.2,2021,0.5,1.3
177,178th,1.9,3.3,Norway,0.5,1.1,16.6,1.4,0.8,1.6,2.2,1.8,0.5,2021,0.5,1.0
178,179th,2.9,0.6,Finland,0.5,1.4,16.2,1.7,1.5,1.6,1.5,2.5,0.5,2021,0.5,1.0

In [57]:
# this is a trick: setting columns as index
allDFsConcat.set_index(['Country','Year','Total'],inplace=True)
allDFsConcat.head()

,,,Rank,E1: Economy,C3: Group Grievance,P3: Human Rights,C2: Factionalized Elites,S1: Demographic Pressures,E3: Human Flight and Brain Drain,P2: Public Services,S2: Refugees and IDPs,C1: Security Apparatus,X1: External Intervention,P1: State Legitimacy,E2: Economic Inequality
Country,Year,Total,,,,,,,,,,,,,
Somalia,2013,113.9,1st,9.4,9.3,10.0,10.0,9.5,8.9,9.8,10.0,9.7,9.4,9.5,8.4
Congo Democratic Republic,2013,111.9,2nd,8.5,9.4,9.8,9.5,10.0,7.1,9.5,10.0,10.0,9.7,9.6,8.8
Sudan,2013,111.0,3rd,7.8,10.0,9.3,10.0,8.8,8.4,8.8,10.0,9.8,10.0,9.6,8.5
South Sudan,2013,110.6,4th,8.6,10.0,9.3,9.8,8.9,6.5,9.8,10.0,9.6,10.0,9.1,8.9
Chad,2013,109.0,5th,8.0,8.8,9.8,9.5,9.5,8.0,9.9,9.7,9.4,7.9,9.7,8.9

Since I will not use _Rank_, I will get rid of it:

In [58]:
# dropping unneeded column
allDFsConcat.drop(columns='Rank',inplace=True)

Let's order the current column names:

In [59]:
# ordering column names alphabetically
allDFsConcat.sort_index(axis=1,inplace=True) # by row index will be axis=0

Now put the row indexes back:

In [60]:
# indexes will be columns
allDFsConcat.reset_index(inplace=True)

Let's do some cleaning on the column names:

In [61]:
# see column names
allDFsConcat.columns.to_list()

['Country',
 'Year',
 'Total',
 'C1: Security Apparatus',
 'C2: Factionalized Elites',
 'C3: Group Grievance',
 'E1: Economy',
 'E2: Economic Inequality',
 'E3: Human Flight and Brain Drain',
 'P1: State Legitimacy',
 'P2: Public Services',
 'P3: Human Rights',
 'S1: Demographic Pressures',
 'S2: Refugees and IDPs',
 'X1: External Intervention']

In [62]:
# clean column names
allDFsConcat.columns=allDFsConcat.columns.str.replace(':\s',"_",regex=True)
allDFsConcat.columns=allDFsConcat.columns.str.replace('\s',"",regex=True)
#see
allDFsConcat.columns.to_list()

['Country',
 'Year',
 'Total',
 'C1_SecurityApparatus',
 'C2_FactionalizedElites',
 'C3_GroupGrievance',
 'E1_Economy',
 'E2_EconomicInequality',
 'E3_HumanFlightandBrainDrain',
 'P1_StateLegitimacy',
 'P2_PublicServices',
 'P3_HumanRights',
 'S1_DemographicPressures',
 'S2_RefugeesandIDPs',
 'X1_ExternalIntervention']

Let's set the country names into upper case:

In [63]:
# overwriting country
allDFsConcat.Country=allDFsConcat.Country.str.upper()

Finally, let's check the format:

In [64]:
allDFsConcat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1603 entries, 0 to 1602
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      1603 non-null   object
 1   Year                         1603 non-null   int64
 2   Total                        1603 non-null   float64
 3   C1_SecurityApparatus         1603 non-null   float64
 4   C2_FactionalizedElites       1603 non-null   float64
 5   C3_GroupGrievance            1603 non-null   float64
 6   E1_Economy                   1603 non-null   float64
 7   E2_EconomicInequality        1603 non-null   float64
 8   E3_HumanFlightandBrainDrain  1603 non-null   float64
 9   P1_StateLegitimacy           1603 non-null   float64
 10  P2_PublicServices            1603 non-null   float64
 11  P3_HumanRights               1603 non-null   float64
 12  S1_DemographicPressures      1603 non-null   float64
 13  S2_RefugeesandIDPs           1603 non-null   float64
 14  X1_ExternalIntervention      1603 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 188.0+ KB

We should save this result:

In [ ]:
import os

allDFsConcat.to_csv(os.path.join("data","Fragility.csv"),index=False)